body
{
background-color: rgb(10, 10, 10,0.9);
}
.container
{
	text-align: center;
	margin-top: 10%;
	color: rgb(248, 181, 11);
}
h1
{
	font-size: 300%;
	font-weight: 300%;
}
.text-center
{
	width: 30%;
	margin-left: 33%;
}